node_modules
public/images/desktop.ini
public/desktop.ini
.wwebjs_auth
.wwebjs_cache
out
.env
software-gestion-backend/pribo-i4w6i.csv
software-gestion-backend/presupuestos_viejos/
software-gestion-backend/client 2.xlsx
